name: automerge-deps
on:
  pull_request:
    types: [labeled, synchronize]
permissions:
  contents: write
  pull-requests: write
concurrency:
  group: automerge-${{ github.ref }}
  cancel-in-progress: true
jobs:
  merge:
    if: github.event.pull_request.user.login == 'dependabot[bot]' && contains(github.event.pull_request.labels.*.name, 'dependencies')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Harden Runner
        uses: step-security/harden-runner@v3
        with:
          egress-policy: block
      - name: Enable auto-merge
        run: gh pr merge --auto --squash "$PR"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR: ${{ github.event.pull_request.html_url }}
